body {
    height: 100%;
    box-sizing: border-box;
    margin:0;
    padding:0;
    padding-bottom: 8vh;
}

/* INICIO DO CSS APLICADO SOMENTE A ABA_MENU */

.nav-item a {
    color: #121212;
}

.iconeNav:hover {
    color: #ffffff;
}

/* FIM DO CSS APLICADO SOMENTE A ABA_MENU */

/* CSS NAV SUPERIOR  */

.navbar-brand > img {
    width: 35px;
}

.navbar {
    background-color: #1D6AB0;
}

.navbar a {
    color: #ffffff;
}

/* CSS BANNER */

.banner-img {
    object-fit: cover;
    width: 100vw;
    height: 20vh;
}

.titulo {
    position: absolute;
    margin-top: -15vh;
}

/* CSS COMUNIDADE */

.input-group-text {
    background-color: #ffffff;
}

.card-header {
    background-color: #1D6AB0;
    color: #ffffff;
}

.card .btn{
    background-color: #1D6AB0;
    color: #ffffff;
}


/* CSS VIAGEM */

.filtro .btn {
    background-color: #1D6AB0;
    color: #ffffff;
    border-color: #064C8C;
}

.filtro .btn:focus {
    background-color:#0A3A66;
    color: #ffffff;
}

.filtro .btn:active {
    background-color:#1D6AB0;;
    color: #ffffff;
}

.link-detalhes {
    text-decoration: underline;
}

.check {
    color: #1DB954;
}

.favorite {
    color: #F54B5E;
}

.card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* CSS NAV INFERIOR */
.nav-inferior {
    background-color: #ffffff;
    height: 8vh;
}
.nav-inferior a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-size: 14px;
}


.selecionado{
    color: #1D6AB0;
}

.ativo {
    border-top: solid #1D6AB0 3px;
}

